.Quizzes-Page {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f3f7f7;
	position: relative;
}

.all-Quizzes {
	width: 100%;
	/* display: grid; */
	/* grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); */
	/* grid-gap: 20px; */
}

.quiz-card {
	max-width: 400px;
	min-height: 300px;
	width: 90vw;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	padding: 20px;
	border-radius: 10px;
	background-color: white;
	box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.15);
}
.quiz-card:hover {
	box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.25);
}
.quiz-loader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.quiz-header {
	display: flex;
	flex-direction: column;
	border-bottom: 3px solid rgb(233, 233, 233);
	padding-bottom: 20px;
}

.quiz-header p {
	font-size: 1.4em;
	font-weight: 700;
	color: rgb(100, 100, 100);
}
.quiz-duration-card {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 400;
}

.quiz-title {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.quiz-title-heading {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.quiz-title p {
	font-size: 1em;
}
.quiz-title h2 {
	font-weight: 700;
	font-size: 18px;
}
.quiz-title svg {
	font-size: 20px;
	margin-right: 5px;
}

.quiz-creator {
	margin: 20px 0;
	font-weight: 500;
}

.quiz-creator p {
	font-size: 18px;
	font-weight: 500;
}

.quiz-creator span {
	font-weight: 700;
}

.quiz-card button {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	outline: none;
	color: #fff;
	background: rgb(0, 140, 255);
	cursor: pointer;
	padding: 10px;
	font-size: 1.1em;
	font-weight: 600;
	width: 100%;
}

.quiz-card button:hover {
	background: white;
	color: black;
	border: 1px solid black;
}

@media only screen and (max-width: 1000px) {
	.all-Quizzes {
		display: block;
	}
}
