.table {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  border: 2px solid lightgray;
  margin-top: 12vh;
  margin-right: 4vw;
  margin-left: 5.5vw;
}

.col-1 {
  width: 30vw;
  border-top: 2px solid lightgray;
  border-right: 2px solid lightgray;
  font-family: "Montserrat", sans-serif;
  margin-left: -10px;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  font-weight: 600;
  font-size: 2.3vh;
}

.col-2 {
  border-top: 2px solid lightgray;
  border-right: 2px solid lightgray;
  font-family: "Montserrat", sans-serif;
  padding-left: 10vw;
  font-size: 2.3vh;
}
.col-3 {
  width: 30vw;
  border-top: 2px solid lightgray;
  font-family: "Montserrat", sans-serif;
  border-right: 2px solid lightgray;
  padding-left: 10vw;
  font-size: 2.3vh;
}

.col-4 {
  width: 30vw;
  border-top: 2px solid lightgray;
  font-family: "Montserrat", sans-serif;
  padding-left: 10vw;
  font-size: 2.3vh;
}

.col1 {
  width: 30vw;
  border-right: 2px solid lightgray;
  font-family: "Montserrat", sans-serif;
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-size: 2.3vh;
}

.col2 {
  width: 30vw;
  border-right: 2px solid lightgray;
  font-family: "Montserrat", sans-serif;
  padding-left: 2vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  background: #214786;
  color: white;
  font-size: 2.3vh;
}

.col3 {
  width: 30vw;
  border-right: 2px solid lightgray;
  font-family: "Montserrat", sans-serif;
  padding-top: 1vh;
  padding-bottom: 1vh;
  background: #214786;
  color: white;
  font-size: 2.3vh;
}

.col4 {
  width: 30vw;
  font-family: "Montserrat", sans-serif;
  padding-top: 1vh;
  padding-bottom: 1vh;
  background: #214786;
  color: white;
  font-size: 2.3vh;
}

.answer-key-question {
  display: flex;
  align-items: center;
}

.answer-key-title {
  font-family: "Montserrat", sans-serif;
  margin-top: 10vh;
  font-size: 4vh;
  margin-left: 38vw;
}
.number {
  font-family: "Montserrat", sans-serif;
  margin-right: 1vw;
  font-weight: bolder;
  font-weight: 0.5vw;
}
.answer {
  display: flex;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 3vh;
  margin-bottom: 4vh;
  border: 1px solid rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 8px;
}

.correct-answer {
  background: #66ff33;
  padding: 0.5vw;
  border-radius: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5vh;
  margin-left: 1vw;
}
