.teacher-homepage {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage-card {
	width: 250px;
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.homepage-card-icon {
	width: 100%;
	height: 200px;
	display: grid;
	place-items: center;
	border: 4px solid rgb(0, 140, 255);
	border-bottom: none;
	background-color: #fff;
}

.homepage-card-icon svg {
	font-size: 100px;
	color: rgb(0, 140, 255);
}

.homepage-card button {
	background-color: rgb(0, 140, 255);
	border: none;
	color: #fff;
	font-size: 20px;
	padding: 15px 0;
	cursor: pointer;
	outline: none;
	font-weight: 600;
}