.navbar-student {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.4);
  height: 12vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  background: #008cff;
}

.user {
  padding-top: 3vh;
  display: flex;
  align-items: center;
}

.user-name-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: white;
}
.service {
  display: flex;
  width: 60vw;
  justify-content: space-between;
  align-items: center;
  margin-left: 16vw;
  margin-right: 8vw;
}

.service > p {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.user-name {
  font-family: "Montserrat", sans-serif;
  margin-top: -2vh;
}

.navbar-item:hover {
  border-bottom: 3px solid #27b2d1;
  cursor: pointer;
}

.log-out {
  cursor: pointer;
  margin-top: -2vh;
}

.MuiIconButton-root {
  flex: 0 0 auto;
  color: rgba(0, 0, 0, 0.54);
  padding: 12px;
  overflow: visible;
  font-size: 1.5rem;
  text-align: center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 50%;
  margin-top: -5vh;
}
.MuiIconButton-root {
  flex: 0 0 auto;
  color: rgba(0, 0, 0, 0.54);
  padding: 12px;
  overflow: visible;
  font-size: 1.5rem;
  text-align: center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 50%;
  margin-top: -4vh;
}
