.navbar {
  position: absolute;
  top: 0%;
  left: 0%;
  background: rgb(0, 140, 255);
  /* box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.2); */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  color: white;
  width: 100%;
  height: 70px;
  display: grid;
  place-items: center;
  font-size: 1.2em;
  font-weight: 600;
  z-index: 10;
}

.viewall:hover {
  cursor: pointer;
}

.navbar-container {
  width: 90vw;
  max-width: 1168px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: -10px;
}
.user-name-nav > * {
  margin: 4px;
}

.navbar-logo svg {
  font-size: 50px;
  margin-left: -75vw;
}

.nav-logout {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  outline: none;
  background: rgba(255, 255, 255, 0.4);
  color: white;
  font-weight: 800;
  font-size: 1.2em;
  padding: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 786px) {
  .navbar {
    height: 60px;
    font-size: 1em;
  }
  .user-name-nav > * {
    margin: 0 10px;
  }
}

@media (max-width: 500px) {
  .navbar-logo svg {
    font-size: 40px;
  }
}
