.login-page {
	width: 100%;
	height: 100vh;
	display: grid;
	place-items: center;
	background: rgb(0, 140, 255);
	position: relative;
}

.login-page form {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: stretch;
	width: 90%;
	max-width: 400px;
	min-height: 350px;
	padding: 25px;
	border-radius: 10px;
	box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.2);
	background: rgb(255, 255, 255);
}

.login-page input {
	padding: 10px 10px;
	border: none;
	border: 1px solid lightgray;
	border-radius: 5px;
	background: inherit;
	outline: none;
	margin-top: 5px;
	font-weight: 500;
	font-size: 16px;
}

input::placeholder {
	font-size: 1em;
	color: rgb(180, 182, 184);
	font-weight: 400;
}

.username label,
.password label {
	display: flex;
	flex-direction: column;
	font-size: 1.1em;
	font-weight: 600;
	margin-bottom: 20px;
}

.login-page button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	border: none;
	outline: none;
	color: white;
	background: rgb(0, 140, 255);
	cursor: pointer;
	padding: 10px;
	font-size: 1.1em;
	font-weight: 700;
	border-radius: 5px;
}

.login-page button:hover {
	background: white;
	color: black;
	border: 1px solid black;
}

.username label p,
.password label p {
	margin-bottom: 10px;
}

.login-loader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: grid;
	place-items: center;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 99;
}

.password label {
	position: relative;
}
.password .show-password {
	position: absolute;
	right: 10px;
	top: 40px;
	cursor: pointer;
}

.show-password svg {
	color: rgba(0, 0, 0, 0.5);
}
