.submitted-form {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: #f3f3f3;
}
.submitted-form {
  font-size: 1em;
  font-weight: 600;
  text-align: center;
}
.submitted-form h1 {
  margin-top: 20px;
}
.submitted-form svg {
  font-size: 5em;
  color: rgb(100, 100, 100);
}
.feedback-page-header {
  font-size: 1.6em;
  position: absolute;
  top: -30px;
  margin-left: 27vw;
  transform: translateX(-50%);
  background: white;
  padding: 10px;
  width: auto;
  color: rgb(100, 100, 100);
}
.feedback-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.5);
  z-index: 999;
}

.quiz-submitted-header {
  font-size: 1.8em;
  margin-top: -23vh;
  text-align: center;
  width: 100%;
  background: white;
  padding: 10px;
}

.feedback-page {
  position: relative;
  width: 95vw;
  max-width: 805px;
  padding: 40px;
  margin: 120px auto 50px auto;
  border: 2px solid rgb(231, 231, 231);
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
}

.feedback-page input[type="range"] {
  width: 100%;
  cursor: pointer;
  height: 4vh;
  border: 1px solid #000000;
  border-radius: 5px;
  background: rgb(231, 231, 231);
  outline: none;
}

.feedback-page input[type="text"] {
  width: 100%;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  height: 7vh;
  font-size: 2.3vh;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.feedback-page input[type="radio"] {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: 0.1em solid currentColor;
}

.feedback-input-sliders {
  margin-top: 8vh;
}
.feedback-input-sliders,
.feedback-yes-no {
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.feedback-text {
  min-height: 150px;
}
.feedback-text textarea {
  resize: vertical;
  height: 125px;
}

.feedback-input-sliders p {
  display: flex;
  justify-content: space-between;
  width: 75%;
}
.feedback-input-sliders p span {
  font-size: 0.8em;
  color: rgb(99, 99, 99);
}

.feedback-text p {
  margin: 20px 0;
  font-size: 1em;
  font-weight: 600;
}
.feedback-text textarea,
.feedback-username input {
  padding: 10px;
  width: 100%;
  font-size: 15px;
}

.feedback-username {
  margin-bottom: 20px;
}

.feedback-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  width: 100%;
  border: none;
  outline: none;
  color: white;
  background: rgb(0, 140, 255);
  cursor: pointer;
  padding: 10px;
  font-size: 1.1em;
  font-weight: 700;
  margin-top: 4vh;
  border-radius: 15px;
}
.feedback-submit:hover {
  background: white;
  color: black;
  border: 1px solid black;
}

.feedback-yes-no button:hover {
  background: rgb(0, 140, 255);
  color: white;
}

.feedback-yes-no button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 80px;
  border: 1px solid rgb(99, 99, 99);
  outline: none;
  color: rgb(99, 99, 99);
  background: white;
  cursor: pointer;
  padding: 10px;
  font-size: 0.9em;
  font-weight: 700;
  margin-right: 15px;
}

.feedback-yes-no div div {
  display: flex;
}
.feedback-yes-no div p {
  margin: 10px 0 20px 0;
  font-size: 1em;
  font-weight: 600;
}

.feedback-yes-no div {
  margin: 10px 0;
}

.feedback-input-sliders {
  margin-bottom: 10px;
}

.feedback-input-sliders div p {
  margin-bottom: 20px;
  font-size: 1em;
  font-weight: 600;
}
.feedback-quiz div {
  display: flex;
  flex-direction: column;
}
.feedback-quiz div button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 50%;
  border: 1px solid rgb(99, 99, 99);
  outline: none;
  background-color: white;
  color: rgb(99, 99, 99);
  cursor: pointer;
  padding: 10px;
  font-size: 0.9em;
  font-weight: 700;
  margin: 10px 0;
}

.student-feedback-question {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-top: 7vh;
  margin-bottom: 2vh;
}

@media only screen and (max-width: 786px) {
  .feedback-page input[type="range"] {
    width: 100%;
  }
  .feedback-page {
    padding: 20px;
    margin: 100px auto 50px auto;
  }
  .feedback-page-header {
    top: -20px;
    left: 50%;
    width: 310px;
    text-align: center;
    padding: 0;
  }
  .feedback-text textarea {
    width: 100%;
  }
  .feedback-input-sliders p {
    width: 100%;
  }
  .feedback-quiz div button {
    width: 100%;
  }
  .submitted-form h1 {
    font-size: 1.2em;
  }
  .submitted-form svg {
    font-size: 50px;
  }
}

.feedback-yes-no .selected-btn,
.feedback-quiz .selected-btn {
  background-color: rgb(0, 140, 255);
  color: #fff;
}

.rad {
  display: flex;
}

.input-radio {
  display: flex;
  margin-right: 2vw;
}

.rad-1 {
  margin-left: 0.7vw;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20vw;
  margin-left: 19vw;
  margin-bottom: -15vh;
  margin-top: 4vh;
}
.preview {
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 450px) {
  .quiz-submitted-header {
    font-size: 1.6em;
  }
}
@media (max-width: 400px) {
  .quiz-submitted-header {
    font-size: 1.45em;
  }
}

@media (max-width: 360px) {
  .feedback-page-header {
    width: 90%;
    font-size: 1.4em;
  }
  .quiz-submitted-header {
    font-size: 1.35em;
  }
}
