* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  overflow-x: hidden;
}

/* @media only screen and (max-width: 600px) {
	button.rec-arrow {
		font-size: 24px !important;
		color: black !important;
		transform: scale(0.5);
	}
} */

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}