.instruction-page {
	width: 100%;
	display: grid;
	place-items: center;
	margin: 20px auto;
}

.instruction-container {
	max-width: 998px;
	width: 95vw;
	margin: auto;
	padding: 10px 30px;
	border: 1px solid lightgray;
	z-index: 10;
}

.instruction-page > div {
	margin: 25px 0;
}

.instruction-page > div h2 {
	margin: 10px 0;
	font-size: 1.2em;
}

.instruction-timer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.instruction-clip-path {
	clip-path: polygon(0 0, 100% 0, 100% 55%, 0 75%);
	background: linear-gradient(to bottom, #00affc, white);
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100vw;
	height: 100vh;
}
.instruction-timer > * {
	margin: 10px 0;
}

.instruction-timer button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 200px;
	border: none;
	outline: none;
	color: white;
	background: rgb(0, 140, 255);
	cursor: pointer;
	padding: 10px;
	font-size: 1.1em;
	font-weight: 700;
}

.instruction-timer button:hover {
	background: white;
	color: black;
	border: 1px solid black;
}

.instruction-countdown {
	font-weight: 600;
	font-size: 1.4em;
}

.instruction-header {
	text-align: center;
	font-weight: 700;
	margin-bottom: 20px;
}

.instruction-header > * {
	margin: 10px 0;
}

@media (max-width: 500px) {
	.instruction-container {
		padding: 10px 20px;
	}
}
